@font-face {
  font-family: "iconfont"; /* Project id 4078893 */
  src: url('iconfont.woff2?t=1684664498290') format('woff2'),
       url('iconfont.woff?t=1684664498290') format('woff'),
       url('iconfont.ttf?t=1684664498290') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e665";
}

.icon-jibiji:before {
  content: "\e609";
}

.icon-liulan:before {
  content: "\e633";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-jibenxinxi:before {
  content: "\e619";
}

.icon-shijianzhou:before {
  content: "\e69a";
}

.icon-liuyan:before {
  content: "\e614";
}

.icon-tongji:before {
  content: "\e64a";
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

.icon-huanyingye:before {
  content: "\e728";
}

.icon-24gl-tags3:before {
  content: "\e87d";
}

.icon-guanyu:before {
  content: "\e60b";
}

.icon-tupian:before {
  content: "\e8ba";
}

